@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

/* Define CSS variables for theme colors */
:root {
  --color-primary-main: #1d4ed8;
  --color-primary-dark: #1e3a8a;
  --color-primary-light: #3b82f6;
}

/* Example of a dark theme override */
[data-theme="dark"] {
  --color-primary-main: #dc2626;
  --color-primary-dark: #b91c1c;
  --color-primary-light: #ef4444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
}

body {
  width: 100%;
  max-width: 100%;
}